<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="container">
<h3>Welcome to my Django apps page</h3>
<ul>
<li><a href="{% url 'polls:index' %}">polls</a></li>
<li><a href="{% url 'todo:index' %}">todo</a></li>
<li><a href="{% url 'admin:index' %}">admin</a></li>
</ul>
</div>
